/**
	Especificaciones CSS para el juego del solitario 
*/

/* /*** !!!!!!!!!!!!!!!!!!! CODIGO !!!!!!!!!!!!!!!!!!!! 
	Completar los estilos que faltan y modificar al gusto del alumno
**/

/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
}

body {
    background-color: #0B132B; /* Cambia el color según tus preferencias */
}

/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
}

img#logoVIU {
	width: 100px; 
    height: auto;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores{ 
	text-align: center; 
	color: white; 
	font-weight: normal; 
}
#contador_tiempo, #contador_movimientos{
	font-weight: 600; 
}

/* Mesa que contiene a los tapetes centrados */
div#mesa{
	text-align: center;
	margin:20px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	display: inline-block;
	position: relative;
	margin: 10px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 340px;
	height: 340px;			
	background-color: #91acc4;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){				
	height: 125px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
	background-color:  #ffa366;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	background-color: #65dbca;
}
/* Posicion boton reset */
#reset, #reset-end {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 2px solid white; 
	padding: 10px 40px;
    font-size: 18px;
    color: white;
	background-color: #E65014;
    border-radius: 80px; 
    cursor: pointer;
}

#reset:hover,  #reset-end:hover {
	background-color: #db805d;
    border-color: #FFFFFF; 
}

#iconos {
    position: absolute;
    left: 90px;
    top: 15%;
    transform: translateY(-50%);
    font-size: 50px; 
}
#btnToggleAudio {
	color: #E65014; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #9bd0b5;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 65%;
}

span {
    font-size: 18px;
}

.row {
    margin-bottom: 10px;
}
